NEXT_PUBLIC_SUPABASE_URL=https://lmboomcjvrohibzqbmaw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtYm9vbWNqdnJvaGlienFibWF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0OTkxMDUsImV4cCI6MjA5NDA3NTEwNX0._YTey6bY37MZQGb8pVoD5lCAYpQiMX74Dga1ODaiudc